.App {
  padding: 2rem;
  background-color: #000;
  min-height: 100vh;
}

.teletext-page {
  padding: 1rem;
}

h2 {
  font-size: 36px;
  color: #ffff00; /* Yellow */
  margin-bottom: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 28px;
  color: #00ffff; /* Cyan */
  margin-bottom: 1rem;
}

h4 {
  font-size: 24px;
  color: #ff00ff; /* Magenta */
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

li {
  margin-bottom: 0.5rem;
}

.channel-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.channel-number {
  color: #fff; /* White */
  font-size: 36px; /* Increased font size */
  width: 60px; /* Adjust as needed */
  text-align: left;
}

.channel-name {
  color: #ffff00; /* Yellow */
  font-size: 36px; /* Increased font size */
  flex-grow: 1;
  text-align: left;
}