.tvFrame {
    background-color: black;
    position: relative;
    overflow: hidden;
    width: 720px;
    border-radius: 10px;
    border-color: rgb(20, 20, 20);
    border-style: solid;
    border-width: 25px;
    aspect-ratio: 4/3;
}

.crtScreen {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #000;
}


.screenContent {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto; /* Changed from hidden to auto to allow scrolling */
    padding: 10px;
    color: white;
    z-index: 2; /* Above snow */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenBand {
    width: 100%;
    height: 5vh; 
    background-color: white;
    opacity: 1;
    position: absolute;
    top: 0;
    display: flex;
    overflow: hidden;
    z-index: 0; /* Below snow */
    animation-name: crtScanlineMovement;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 2s,;
    animation-iteration-count: infinite;
}

.scanlines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 2px,
        rgba(0, 0, 0, 0.3) 2px,
        rgba(0, 0, 0, 0.3) 4px
    );
    background-size: 100% 4px;
    pointer-events: none;
    z-index: 3; /* Above all */
}

.snow {
    position:absolute;
    inset: -200%;
    background-image: url('./noise.png'); /* Updated path */
    opacity: 90%;
    animation: shift 0.2s linear infinite both;
}


/* Keyframes */
@keyframes snow {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 10px 10px; /* Shift background for noise */
    }
}

@keyframes flicker {
    0%, 100% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.6;
    }
}

@keyframes crtTurnOn {
    from {
        transform: scaleY(0) scaleX(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1) scaleX(1);
        opacity: 1;
    }
}

@keyframes crtFlicker {
    0% { opacity: 1; }
    10% { opacity: 0.8; }
    20% { opacity: 1; }
    30% { opacity: 0.9; }
    40% { opacity: 1; }
    50% { opacity: 0.7; }
    60% { opacity: 1; }
    70% { opacity: 0.8; }
    80% { opacity: 1; }
    90% { opacity: 0.9; }
    100% { opacity: 1; }
}

@keyframes crtScanlineMovement {
    0% { top: 100%; }
    100% { top: -100%; }
}

@keyframes crtScanlineFlicker {
    0% { opacity: 0.1; }
    100% { opacity: 0.5; }
}

@keyframes shift
{
    0%
    {
        transform: translateX(10%) translateY(10%);
    }

    100%
    {
        transform: translateX(-10%) translateY(-10%);
    }
}