.teletext-header {
  display: flex;
  justify-content: space-between;
  background-color: #000; /* Black background */
  color: #ffff00; /* Yellow text */
  padding: 5px 10px;
  font-size: 24px;
  margin-bottom: 1rem;
  width: 100%;
  align-self: stretch;
  box-sizing: border-box;
}

.teletext-header .channel {
  width: 180px;
  text-align: left;
}

.teletext-header .date {
  flex-grow: 1;
  text-align: center;
}

.teletext-header .time {
  width: 180px;
  text-align: right;
}
