.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #111;
  color: white;
  border-right: 2px solid #333;
}

.dropdown-container {
  margin-bottom: 20px;
}

.dropdown-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #ffff00; /* Yellow */
}

.dropdown-container select {
  width: 100%;
  padding: 8px;
  background-color: #000;
  color: #fff;
  border: 2px solid #ffff00;
  font-family: 'VT323', monospace;
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.checkbox-container label {
  margin-right: 10px;
  font-size: 18px;
  color: #ffff00; /* Yellow */
}

.checkbox-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.page-jump-container {
  margin-top: 20px;
}

.page-jump-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #ffff00; /* Yellow */
}

.page-jump-container input[type="text"] {
  width: calc(100% - 50px); /* Adjust width to make space for button */
  padding: 8px;
  background-color: #000;
  color: #fff;
  border: 2px solid #ffff00;
  font-family: 'VT323', monospace;
  font-size: 16px;
  margin-right: 5px;
}

.page-jump-container button {
  padding: 8px 10px;
  background-color: #0000ff; /* Blue */
  color: #ffff00; /* Yellow */
  border: 2px solid #ffff00;
  font-family: 'VT323', monospace;
  font-size: 16px;
  cursor: pointer;
}

.description-container {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ffff00;
  border-radius: 5px;
}

.description-container p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  margin: 0;
}